.CourseAboutCard{
    width: 49%;
    padding: 50px;
    background-color: var(--absolute-white);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition:box-shadow 0.3s ease;
}
.CourseAboutCard:hover{
    box-shadow: 0 8px 16px rgba(255, 149, 0, 0.5), 
    0 4px 20px rgba(255, 149, 0, 0.3); 
}
.Lesson:hover{
    outline: 3px solid var(--orange-stroke2);
}
.Lesson:hover .LessonDuration{
    background-color: var(--orange-stroke);
}
.CardNumer{
    text-align: end;
    color: var(--text-color);
}
.CourseAboutCard h4{
    line-height: 36px;
    color: var(--icone-color);
}
.CardLessons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Lesson{
    border: 1px solid var(--light-white);
    padding: 24px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LessonTitle{
    width: 70%;
}
.LessonTitle p{
    color: var(--icone-color);
    line-height: 30px;
    margin-bottom: 6px;
}
.LessonTitle span{
    color: var(--p-color);
    line-height: 27px;
}
.LessonDuration{
    padding: 12px 14px ;
    background-color: var(--background);
    border-radius: 6px;
    color: var(--p-color);
}
.LessonDuration span{
    display: flex;
    align-items: center;
    gap: 4px;
}
.LessonDuration span svg{
    font-size:24px;
}
@media(max-width:1600px){
    .CourseAboutCard{
        padding: 40px;
        border-radius: 10px;
        gap: 40px;
    }
    .CardNumer{
        font-size: 60px;
    }
    .CourseAboutCard h4{
        line-height: 30px;
        font-size: 20px;
    }
    .CardLessons{
        gap: 16px;
    }
    .Lesson{
        padding: 20px 24px;
        border-radius: 6px;
    }
    .LessonTitle p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 2px;
    }
    .LessonTitle span{
        font-size: 14px;
        line-height: 24px;
    }
    .LessonDuration{
        padding: 10px ;
    }
    .LessonDuration span{
        font-size: 14px;
    }
    .LessonDuration span svg{
        font-size:20px;
    }
}
@media(max-width:1000px){
    .CourseAboutCard{
        width: 100%;
    }
}
@media(max-width:500px){
    .CourseAboutCard{
        padding: 30px;
        gap: 30px;
    }
    .CardNumer{
        font-size: 50px;
    }
    .CourseAboutCard h4{
        line-height: 27px;
        font-size: 18px;
    }
    .Lesson{
        padding:  24px;
    }
    .LessonTitle{
        width: 100%;
    }
    .Lesson{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
}