.OurGoals{
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
@media(max-width:1440px){
    .OurGoals{
        padding-bottom: 100px;
        gap: 60px;
    }
}
@media(max-width:390px){
    .OurGoals{
        padding-bottom:50px;
        gap: 50px;
    }
}